$pageBackgroundColor: #31263e;
$pageFontColor: #eee;
$pageHrefColor: #f1dac4;
$pageHrefColorHoover: #eca72c;
$pageHrefColorVistited: #a69cac;

$primary: #ee5622;
$secondary: #eca72c;
$thirddy: #474973;
$dark: #161b33;
$darker: #0d0c1d;
