@import 'bootstrap/scss/bootstrap';

html {
    margin: 0; 
    padding: 0; 
    scroll-behavior: smooth;
}
body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: $pageBackgroundColor;
    color: $pageFontColor;
}

a:link, 
a:visited {
    color: $pageHrefColorVistited;
    text-decoration: none;
}
a:hover,
a:visited:hover {
    color: $pageHrefColorHoover;
    text-decoration: none;
}

h1 {
    color: $primary;
}

.app {
    padding-top: 4.5rem;
}

.container {
    margin-top: 1rem;
}

#__nuxt{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
}