body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    background-color: $pageBackgroundColor;
    color: $pageFontColor;
}

a:link, 
a:visited {
    color: $pageHrefColorVistited;
    text-decoration: none;
}
a:hover,
a:visited:hover {
    color: $pageHrefColorHoover;
    text-decoration: none;
}

h1 {
    color: $primary;
}
